@import "src/assets/styles/util";
// @import "/node_modules/primeicons/primeicons.css";
@import "../../../../node_modules/primeicons/primeicons.css";

:host{

    @mixin view0{
        position:relative;
        display: flex;
        width: 80%;
    }

    @mixin button0{
        padding:20px;

    }

    @mixin textarea0{
        border: 3px solid #cccccc;
        padding: 5px 10px;
        font-family: Tahoma, sans-serif;
        resize: none;
    }

    @mixin input0{
        @include textarea0();
        min-width: 0;
    }




    --color0:rgb(230, 232, 240);
    --color1:black;
    --color2:white;
    --color3:lightblue;

    input{
        min-width: 0;
    }

    &.a_p_p_Inventory,
    .a_p_p_Inventory{
        &View{
            @include view0;

            font-size: 16px;
        }
        &Main{
            &Pod{
                display: flex;
                flex-flow:wrap;
                flex:1 0 100%;
                max-width:  1200px;
                justify-content: center;
            }
        }
        &Pod{

            @for $i from 0 through 3 {
                &#{$i}{
                    display:flex;
                    justify-content: center;
                    flex:1 0 100%;
                    margin:40px 0 0 0;
                }
            }

            &0{
                border:1px solid var(--color1);;
                border-radius: 10px;
                padding:10px;
                align-items: flex-start;
                height:94px;
                z-index: 5;

                &Button{
                    @for $i from 0 through 3 {
                        &#{$i}{
                            @include button0;
                            font-size:1.5em;
                            margin:0px 40px;
                            white-space: nowrap;
                        }
                    }

                    &0{
                        background: var(--radial-bg-blue);
                    }

                    &1{
                        background: var(--radial-bg-red);
                    }


                    &2{
                        background: var(--radiial-bg-ripebanana);
                    }
                }

                &Item{
                    &0{
                        display: flex;
                        flex-flow: column wrap;
                    }

                    &1{
                        display:flex;
                        flex-flow: column wrap;
                        margin:20px 0 0 0;
                    }

                    &2{
                        display: flex;
                        align-items: center;
                    }
                }

                &Text{
                    &0{
                        padding:5px;
                        border:1px solid var(--color0);
                        display:none;
                        z-index: 5;
                        background-color:var(--color2);
                    }
                }

                &Icon{
                    &0{
                        margin:0 5px;
                    }
                }

                &Input{
                    &0{
                        font-size:1.2em;
                        padding:2px 5px;
                    }
                }
            }

            &1{
                border:1px solid var(--color1);;
                border-radius: 10px;
                padding:10px;
                align-items: center;
                height:94px;

                &Label{
                    &0{
                        font-weight: bold;
                    }
                }

                &Input{
                    &0{
                        @include input0();
                        flex:0 0 70px;
                        margin:0 0 0 20px;
                        -webkit-appearance: none;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button,
                        &[type="number"]{
                            -webkit-appearance: none;
                            margin: 0;
                            -moz-appearance: textfield;
                        }

                    }
                }
            }

            &2{
                position:relative;
                font-size:12px;
                justify-content:flex-start;
                max-width: 1200px;
                flex: 0 0 auto;
                overflow:scroll;


                &Icon{
                    &0{
                        color:var(--color1);
                        border:1px solid var(--color1);
                        padding:5px;
                    }
                }

                &Text{
                    &0{
                        color:var(--color1);
                        padding:20px ;
                        background-color: var(--color0);
                        height:68px;
                        @include tac;
                        white-space: nowrap;

                    }

                    &1{
                        word-break: keep-all;
                        white-space: nowrap;
                    }

                }

                &Button{
                    &0{
                        padding:10px 20px;
                        background: var(--radial-bg-blue);
                        font-size: 1em;
                    }

                    &1{
                        padding:10px 20px;
                        background: var(--radial-bg-green);
                        font-size: 1em;
                    }
                }


                &Item{

                    &A{
                        @for $i from 0 through 5 {
                            &#{$i}{
                                display:flex;
                                flex-flow:column wrap;
                                position:relative;
                                // flex: 0 0 20%;
                                border-left: 1px solid var(--color1);
                            }
                        }
                    }

                    &5{
                        display:flex;
                        flex-flow:column wrap;
                        justify-content: center;
                        align-items: center;
                    }
                    &B{
                        @for $i from 6 through 11 {
                            &#{$i}{
                                display:flex;
                                position:relative;
                                background-color:var(--color3);
                                width:100%;
                                border-bottom: 1px solid var(--color1);
                                justify-content: center;
                                align-items: center;
                                height:68px;
                                overflow-y: scroll;
                            }
                        }
                    }

                    &7{
                        // overflow-x: scroll;

                    }

                    &11{
                        background-color: var(--color0);
                        width:100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding:0 20px ;
                    }

                }
            }
        }
    }
}
