<main
[class]= "prefix.main({val:'Pod'})"
>
    <section
    [class]= "prefix.pods[0]({val:''})"
    >
        <h1
        [class]= "prefix.pods[0]({val:'Title0'})"
        >{{model.title.text | translate}}</h1>
    </section>

    <app-inventory
    [table]= "model.table"
    [class]= "prefix.main({val:'Pod0'})"
    [textEntry]="text"
    [viewEntry]="view"
    [modifyEntry]="modify"
    [imageEntry]="image"
    >
    </app-inventory>


</main>

<ng-template #text let-devObj>
    <h2
    [class]= "devObj.class"
    >

    {{devObj.y[devObj.x.view.subProp]}}
    </h2>

</ng-template>

<ng-template #view let-devObj>

    <button
    [class]= "devObj.class"
    (click)="devObj.click()"
    >
    {{devObj.x.view.text}} 
    </button>
</ng-template>

<ng-template #modify let-devObj>

    <button
    [class]= "devObj.class"
    (click)="devObj.click()"
    >{{devObj.x.view.text}}</button>
</ng-template>



<ng-template #image let-devObj>
    <img
    [class]= "devObj.class"
    (click)="devObj.click()"
    [src]="devObj.y[devObj.x.view.subProp]"
    />
</ng-template>
