@import "src/assets/styles/util";
@import "../../../../node_modules/primeicons/primeicons.css";

@mixin button0 {
    padding: 5px;
}

:host {
    --color0: red;
    --color1: green;
    --color2: white;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
    &.a_p_p_plusMinus,
    .a_p_p_plusMinus {
        &View {
            // @include view
        }
        &Main {
            &Pod {
            }
        }
        &Pod {
            &0 {
                &Item {
                    &0 {
                        border-radius: 10px;
                        flex: 0 0 50%;
                        display: flex;
                        justify-content: center;
                    }
                }

                &Input {
                    &0 {
                        flex: 0 0 20%;
                        width: auto;
                        min-width: 0;
                        text-align: center;
                    }
                }

                &Button {
                    @for $i from 0 through 1 {
                        &#{$i} {
                            @include button0;
                            color: var(--color2);
                        }
                    }
                    &0 {
                        background-color: var(--color0);
                    }
                    &1 {
                        background-color: var(--color1);
                    }
                }
            }
        }
    }
}
